003-SAP-webservices/ws-tools2/doc/ActivationParameters.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://b-oss.ufon.cz/internalapi/acparams" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://b-oss.ufon.cz/internalapi/acparams" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://b-oss.ufon.cz/internalapi/acparams">
      <s:element name="setActivationParameters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="spaOrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sapProductId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ownHardware" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfParamDef" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfParamDef">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ParamDef" nillable="true" type="tns:ParamDef" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ParamDef">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="paramType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="paramValue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="paramExpiration" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="setActivationParametersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="setActivationParametersSoapIn">
    <wsdl:part name="parameters" element="tns:setActivationParameters" />
  </wsdl:message>
  <wsdl:message name="setActivationParametersSoapOut">
    <wsdl:part name="parameters" element="tns:setActivationParametersResponse" />
  </wsdl:message>
  <wsdl:portType name="ActivationParametersSoap">
    <wsdl:operation name="setActivationParameters">
      <wsdl:input message="tns:setActivationParametersSoapIn" />
      <wsdl:output message="tns:setActivationParametersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActivationParametersSoap" type="tns:ActivationParametersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setActivationParameters">
      <soap:operation soapAction="http://b-oss.ufon.cz/internalapi/acparams/setActivationParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ActivationParametersSoap12" type="tns:ActivationParametersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setActivationParameters">
      <soap12:operation soapAction="http://b-oss.ufon.cz/internalapi/acparams/setActivationParameters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivationParameters">
    <wsdl:port name="ActivationParametersSoap" binding="tns:ActivationParametersSoap">
      <soap:address location="http://172.25.25.145:8090/ActivationParameters.asmx" />
    </wsdl:port>
    <wsdl:port name="ActivationParametersSoap12" binding="tns:ActivationParametersSoap12">
      <soap12:address location="http://172.25.25.145:8090/ActivationParameters.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>