003-SAP-webservices/ws-tools2/doc/SAP2BOSS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="get_cust_id_by_acct_id">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="acct_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_cust_id_by_acct_idResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="p_cust_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="rc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="set_contact_email">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="p_cust_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="p_email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="set_contact_emailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="set_contact_psc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cust_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="psc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="set_contact_pscResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="set_cust_type">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cust_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cust_type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="set_cust_typeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="get_cust_id_by_acct_idSoapIn">
    <wsdl:part name="parameters" element="tns:get_cust_id_by_acct_id" />
  </wsdl:message>
  <wsdl:message name="get_cust_id_by_acct_idSoapOut">
    <wsdl:part name="parameters" element="tns:get_cust_id_by_acct_idResponse" />
  </wsdl:message>
  <wsdl:message name="set_contact_emailSoapIn">
    <wsdl:part name="parameters" element="tns:set_contact_email" />
  </wsdl:message>
  <wsdl:message name="set_contact_emailSoapOut">
    <wsdl:part name="parameters" element="tns:set_contact_emailResponse" />
  </wsdl:message>
  <wsdl:message name="set_contact_pscSoapIn">
    <wsdl:part name="parameters" element="tns:set_contact_psc" />
  </wsdl:message>
  <wsdl:message name="set_contact_pscSoapOut">
    <wsdl:part name="parameters" element="tns:set_contact_pscResponse" />
  </wsdl:message>
  <wsdl:message name="set_cust_typeSoapIn">
    <wsdl:part name="parameters" element="tns:set_cust_type" />
  </wsdl:message>
  <wsdl:message name="set_cust_typeSoapOut">
    <wsdl:part name="parameters" element="tns:set_cust_typeResponse" />
  </wsdl:message>
  <wsdl:portType name="SAP2BOSSSoap">
    <wsdl:operation name="get_cust_id_by_acct_id">
      <wsdl:input message="tns:get_cust_id_by_acct_idSoapIn" />
      <wsdl:output message="tns:get_cust_id_by_acct_idSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="set_contact_email">
      <wsdl:input message="tns:set_contact_emailSoapIn" />
      <wsdl:output message="tns:set_contact_emailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="set_contact_psc">
      <wsdl:input message="tns:set_contact_pscSoapIn" />
      <wsdl:output message="tns:set_contact_pscSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="set_cust_type">
      <wsdl:input message="tns:set_cust_typeSoapIn" />
      <wsdl:output message="tns:set_cust_typeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SAP2BOSSSoap" type="tns:SAP2BOSSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_cust_id_by_acct_id">
      <soap:operation soapAction="http://tempuri.org/get_cust_id_by_acct_id" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_contact_email">
      <soap:operation soapAction="http://tempuri.org/set_contact_email" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_contact_psc">
      <soap:operation soapAction="http://tempuri.org/set_contact_psc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_cust_type">
      <soap:operation soapAction="http://tempuri.org/set_cust_type" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SAP2BOSSSoap12" type="tns:SAP2BOSSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_cust_id_by_acct_id">
      <soap12:operation soapAction="http://tempuri.org/get_cust_id_by_acct_id" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_contact_email">
      <soap12:operation soapAction="http://tempuri.org/set_contact_email" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_contact_psc">
      <soap12:operation soapAction="http://tempuri.org/set_contact_psc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_cust_type">
      <soap12:operation soapAction="http://tempuri.org/set_cust_type" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SAP2BOSS">
    <wsdl:port name="SAP2BOSSSoap" binding="tns:SAP2BOSSSoap">
      <soap:address location="http://localhost:1224/SAP2BOSS.asmx" />
    </wsdl:port>
    <wsdl:port name="SAP2BOSSSoap12" binding="tns:SAP2BOSSSoap12">
      <soap12:address location="http://localhost:1224/SAP2BOSS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>